* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Baloo Thambi 2', cursive;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fredoka One', cursive;
}

header {
    height: 50px;
    z-index: 1;
    box-shadow: 0px 2px 10px #fff;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
    display: flex;
}

header h2 {
    margin: 10px 25px;
}

.logo {
    padding-left: 25px;
    background-size: contain;
    width: 65px;
}